.fquest-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 80%;
}

.fquest-box {
    background-color: white;
    padding: 0 3%;
}

.fquest {
    display: flex;
    align-items: center;
    padding: 0.5rem 3%;
}

.fquest-txt {
    margin: 0;
}

.t-btn {
    background-color: transparent;
    color: #042e3c;
    border-style: none;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    text-align: left;
    width: 100%;
}

.t-sign {
    font-size: 1rem;
    margin-left: auto;
}

.fansa {
    display: none;
    padding: 0 3% 1rem;
}







/*-------------RESPONSIVENESS---------------*/

@media (min-width: 651px) and (max-width: 1100px) {
    
}






/*-------------MOBILE SCREEN SIZE---------------*/

@media (max-width: 650px) {
   
    .fquest-txt,
    .t-sign,
    .fansa {
        font-size: 0.7rem;
    }
}