body {
    background-color: white;
}

.updates {
    min-height: 100vh;
    padding: 1rem 0 0;
    width: 100%;
}

.update-con {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    height: 160vh;
    width: 70%;
}

.update-box {
    box-shadow: 0 0 5px 0px #aca9a9;
    border-radius: 5px;
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
}

.box {
    width: 50%;
}

.update-info {
    height: fit-content;
    padding: 2rem 3%;
    width: 44%;
}

.upd-inf-h {
    margin-bottom: 1.5rem;
}

.upd-inf-msg {
   margin-bottom: 2.5rem; 
}


.feat-a {
    background-color: #ffd218;
    color: #042e3c;
    padding: 0.2rem 0.5rem;
    border-style: none;
}

.cr-img {
    margin-left: 0.5rem;
    width: 1rem;
}

.ff-wn-em {
    margin: 4rem 0 0 0;
    width: 70%;
}

.em-count {
    color: black;
}

.em-pop {
    display: none;
}

.update-image {
    background-image: url(image/Floods-in-Jalingo-Taraba.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.em-pop {
    background-color: bisque;
}