.s-n-a {
    text-align: right;
    color: black;
}

.s-n-b {
    color: #28989e;
}

.ff-heda {
    background-color: #042e3c;
    color: #e8f2f6;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

.flood-data {
    padding: 2rem 0 4rem;
}

.form-src {
    padding: 0 0 1rem;
}

.form-src-loc {
    margin-bottom: 0.5rem;
}

.form-src-dt {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.form-src-dt-war {
    height: 19rem;
    padding: 0.5rem 2%;
}

.dt-war-h {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.caution {
    width: 1.3rem;
    margin-right: 0.5rem;
}

.dt-war-p {
    font-size: 1.2rem;
}

.dt-disc {
    font-size: small;
    margin-top: auto;
    width: 100%;
}

.dt-disc-cap {
    font-weight: bold;
}

.timely {
    margin: 0 0 0.5rem 2%;
    width: 98%;
}

.icon {
    width: 1rem;
    margin-right: 3%;
}

.act-rating {
    margin-bottom: 10rem;
    width: 100%;
}

.act-r-hd {
    margin-left: 2%;
    margin-top: 0;
    width: 98%;
}

.act-rating-con {
    margin: 0 2%;
    width: 96%;
}

.rating-con {
    margin-bottom: 2rem;
    width: 100%;
}

.r-hd {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.r-par {
    margin-top: 7px;
    font-size: 0.7rem;
}

.act-con {
    display: flex;
    gap: 2%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.activity {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
    height: 7rem;
    padding: 1.5rem 1rem 1rem;
    min-width: 13rem;
}

.a-icon {
    width: 2rem;
}

.a-a {
    margin-bottom: 0.5rem;
}

.a-rb {
    background-color: #135053;
    border-radius: 100px;
    height: 3px;
    width: 3rem;
}

.r-sc {
    font-weight: bold;
    margin-top: 0.5rem;
}






/*-------------RESPONSIVENESS---------------*/

@media (min-width: 651px) and (max-width: 1100px) {

    .ff-heda {
        font-size: 1.5rem;
    }

    .dt-war-h {
        font-size: 1.2rem;
    }
    
    .caution {
        width: 1rem;
    }
    
    .dt-war-p {
        font-size: 1.2rem;
    }
    
    .dt-disc {
        font-size: 0.8rem;
    }

    .timely {
        font-size: 1.2rem;
        margin: 3rem 0 1rem 2%;
        text-align: start;
    }

    .act-r-hd {
        font-size: 1.2rem;
    }

    .r-hd {
        font-size: 1rem;
    }

    .activity {
        height: 7rem;
        min-width: 12rem;
        max-width: 12rem;
    }

    .a-icon {
        width: 2rem;
    }
    
    .a-a {
        font-size: 0.8rem;
    }

    .r-sc {
        font-size: 0.8rem;
    }
}





/*-------------MOBILE SCREEN SIZE---------------*/

@media (max-width: 650px) {

    .ff-heda {
        font-size: 1rem;
    } 

    .dt-war-h {
        font-size: 1rem;
    }
    
    .caution {
        width: 0.9rem;
    }
    
    .dt-war-p {
        font-size: 0.9rem;
    }
    
    .dt-disc {
        font-size: 0.7rem;
    }

    .timely {
        font-size: 1rem;
        margin: 3rem 0 1rem 2%;
        text-align: start;
    }

    .act-r-hd {
        font-size: 1rem;
        margin-left: 7%;
        width: 90%;
    }

    .r-hd {
        font-size: 0.9rem;
        margin-left: 5%;
        width: 90%;
    }

    .r-par {
        margin-left: 5%;
        width: 90%;
    }
    
    .activity {
        height: 6rem;
        min-width: 10rem;
        max-width: 10rem;
        margin-bottom: 0.5rem;
    }

    .a-icon {
        width: 1.5rem;
    }
    
    .a-a {
        font-size: 0.7rem;
    }

    .r-sc {
        font-size: 0.7rem;
    }
}