body {
    background-color: #d2e7f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body ::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #042e3c;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.logo-bx {
    margin-left: 2rem;
    width: fit-content;
}

h1 {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 3rem;
}


.hd {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 0.75rem;
}

.menu-bx {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 2rem 0 auto;
    position: relative;
    width: 60%;
}

.menu-toggle {
    align-items: center;
    background-color: #042e3c;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 2rem 3rem;
    position: absolute;
    top: 2.5rem;
    right: 0;
    transition: height 500ms ease-out;
    transition: opacity 500ms ease-in;
    width: 30%;
    z-index: 1;
}

.display {
    height: 30rem;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tg-m {
    border-style: none;
    padding: 0;
}

.tg-m-s {
    font-size: 0.8rem;
    font-style: oblique;
    border-style: none;
    padding: 0; 
}

.t-line {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
    border-bottom: 1px solid #e8f2f6;
    width: 100%;
}

.tg-m-con {
    align-items: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.t-story {
    background-color: #ffd218;
    color: #042e3c;
    border-radius: 5px;
    padding: 0.3rem 1.25rem;
}

.menu-con {
    display: flex;
}

a {
    padding: 0 1.25rem;
    width: fit-content;
    border-right: solid 1px;
    border-color: #e8f2f6;
    text-decoration: none;
    font-weight: medium;
    color: #e8f2f6;
}

.faq {
    border-style: none;
}

.menu {
    padding: 0.65rem 0;
}

.forecast {
    color: #ffd218;
}

.sva:hover {
    color: #ffd218;   
}

.story {
    border-style: none;
    background-color: #ffd218;
    color: #042e3c;
    border-radius: 5px;
}

.sub-nav {
    background-color: white;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-nav-c {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub-n-a {
    border-style: none;
    color: black;
    padding: 0;
}

.sub-n-a:hover {
    color: #28989e;
}

.s-n-a {
    text-align: right;
    color: #28989e;
}

form {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin: 1rem 0 2rem;
}

.src-dir {
    margin: 0;
    font-weight: bold;
}

.btn {
    background-color: #042e3c;
    color: #e8f2f6;
    border-style: none;
    padding: 0.2rem 20%;
    border-radius: 3px;
}

.btn:hover {
    background-color: #217a7e;
}

.form-src {
    width: 100%;
}

.form-src-loc {
    margin-left: 2%;
    font-weight: bold;
}

.form-src-dt {
    display: flex;
    gap: 2%;
    margin: 2%;
    width: 96%;
}

.samp-con {
    background-color: white;
    width: 58%;
    height: 20rem;
    display: flex;
    align-items: center;
}

.weth {
    background-image: url(image/storm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cntrl {
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.no1 {
    width: 100%;
    height: 20%;
    display: flex;
}

.des {
    font-weight: bold;
    color: #3feff8;
}

.time {
    margin-left: auto;
    color: #3feff8;
}

.no2 {
    display: flex;
    width: 100%;
    height: 80%;
}

.left {
    width: 60%;
}

.first {
    width: 100%;
    height: 50%;
}

.deta-des,
.second-des,
.deg-cond {
    padding: 0;
    margin: 0;
    color: #3feff8;
}

.deg {
    display: flex;
    gap: 5%;
    margin: 0 0 1rem;
}

.deg-img {
    width: 6rem;
}

.deg-no {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    color: #3feff8;
}

.second {
    width: 90%;
}

.right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgt-cntrl {
    width: 80%;
}

.deta {
    display: flex;
    gap: 2%;
    margin-bottom: 0.7rem;
    width: 100%;
}

.icon-div { 
    margin-right: 4%;
    display: flex;
    align-items: center;
}

.icon {
    width: 1rem;
    margin-right: 3%;
}

.form-src-dt-war {
    background-color: white;
    width: 40%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.dt-war {
    height: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.dt-war-b {
    color: #28989e;
    font-size: 150%;
    font-weight: bold;
    margin-left: 5%;
    width: 100%;
}

.dt-war-a {
    display: flex;
}

.dt-war-a-a {
    margin-left: 5%;
}

.dt-war-h {
    margin: 1rem 0 0;
    color: #3d3c3c;
}

.caution {
    width: 1.1rem;
    margin-right: 0.5rem;
}

.dt-war-p {
    margin: 0;
    font-size: 0.9rem;
    color: #3d3c3c;
}

.dt-time {
    margin: 1rem 5% 0 auto;
    color: #3d3c3c;
}

.details {
    width: 96%;
    margin-left: 2%;
    display: flex;
    gap: 1%;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
}

.scroll-btn1,
.scroll-btn2,
.scroll-btn3 {
    display: none;
}

.details:hover > .scroll-btn1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 3%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
}

.scrol-btn {
    background-color: rgb(201, 195, 195, 0.5);
    border-style: none;
    border-radius: 50%;
    color: #636060;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
}

@keyframes slideleft {
    from {margin-left: 2rem;} 
    to {margin-left: 0;}
 }

 @keyframes slideright {
    from {margin-right: 2rem;} 
    to {margin-right: 0;}
 }

 .prev {
     margin-left: 2rem;
     animation-name: slideleft;
     animation-duration: 2s;
     animation-delay: 2s;
     animation-iteration-count: infinite;
     position: fixed;
     left: 0;
 }

 .nxt {
     margin-right: 2rem;
     animation-name: slideright;
     animation-duration: 2s;
     animation-delay: 2s;
     animation-iteration-count: infinite;
     position: fixed;
     right: 0;
 }

.b-detail {
    background-color: white;
    min-width: 24rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.hour-frm {
    background-color: white;
    min-width: 9rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.hour {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    color: #3d3c3c;
}

.hour-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}

.hour-img {
    width: 3rem;
    margin-top: 5%;
}

.deg-fig {
    margin: 0;
    font-size: 145%;
    color: #3d3c3c;
}

.deg-fig-des {
    text-align: center;
    margin: auto 0 30%;
    width: 40%;
    font-size: 90%;
    color: #3d3c3c;
}

.b-d-t {
    color: #28989e;
    height: 20%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.b-d-d {
    display: flex;
    width: 100%;
    height: 80%;
}

.b-d-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.b-d-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.b-d-cntrl {
    width: 80%;
    margin: 0 0 0 auto;
}

.ctl {
    color: #3d3c3c;
}

.ffl-stat {
    background-color: #042e3c;
    margin: 3rem 0;
    padding: 2rem 0;
    width: 100%;
}

.ftitl {
    color: #e8f2f6;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ffl-st-con {
    display: flex;
    gap: 5%;
    margin: 1.5rem auto;
    width: 70%;
}

.fstat-fig {
    border-style: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8f2f6;
}

.ffig-n {
    font-size: 4rem;
    padding: 0;
    margin: 1rem 0;
}

.ffig-a {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.fimg-data {
    padding: 2rem 0 0;
    width: 100%;
}

.wm-ti {
    color: #3d3c3c;
    font-size: 2rem;
    margin: 0 0 0 2%;
    padding: 0;
}

.ffw-m {
    display: flex;
    gap: 1%;
    margin: 2rem auto 3rem;
    width: 96%;
    overflow-x: scroll; 
    overflow-y: hidden;
    padding: 0.5rem 0;
    position: relative;
}

.ffw-m:hover > .scroll-btn2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 3%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
}

.ff-wm {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 10px -5px #3d3c3c;
    height: 15rem;
    min-width: 19rem;
}

.ff-wm-a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70%;
    width: 100%;
}

.ff-wm-a-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
}

.ff-wm-b {
    background-color: #ffd218;
    height: 23%;
    width: 96%;
    padding: 0.5rem 2%;
}

.ff-wm-b-a {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 0 5%;
    padding: 0;
    color: #3d3c3c;
    width: 100%;
    border-style: none;
}

.ff-wm-b-b {
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0 0 0 5%;
    padding: 0;
}

.wn-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:22rem 22rem 22rem;
    row-gap: 2rem;
    column-gap: 1%;
    margin: 2rem auto 10rem;
    width: 96%;
}

.ff-wn {
    width: 100%;
}

.ff-wn-a {
    height: 63%;
    width: 100%;
}

.ff-wn-a-img {
    height: 100%;
    width: 100%;
}

.ff-wn-b {
    background-color: #042e3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28%;
    width: 96%;
    padding: 1rem 2%;
}

.ff-wn-b-a {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 5% 1.5rem;
    padding: 0;
    color: #e8f2f6;
    width: 90%;
    border-style: none;
    display: flex;
    align-items: center;
}

.ff-wn-b-b {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
    margin: 0 0 0 auto;
    padding: 0;
}

.ff-wn-em {
    margin: 0 5%;
    color: #e8f2f6;
    width: 90%;
    display: flex;
    gap: 3%;
    align-items: center;
    position: relative;
}

.emoji-btn {
    background-color: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
}

.emopop-btn {
    background-color: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
}

.emoji {
    width: 1rem;
}

.emoji1 {
    width: 1rem;
}

.emoji2 {
    width: 1rem;
}

.dis-em {
    background-color: transparent;
    border-style: none;
    display: flex;
    gap: 3%;
    align-items: center;
    overflow: hidden;
    width: 15%;
}

.em-count {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.em-pop {
    background-color: whitesmoke;
    border-radius: 20px;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    top: -2rem;
    width: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
}

footer {
    width: 100%;
    background-color: #042e3c;
    padding: 2rem 0;
}

.foo-co {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.foo-l {
    margin: 0;
    width: 25%;
}

.foo-bx {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 25%;
}

.foo-a {
    border-style: none;
    width: fit-content;
}

.snd {
    font-weight: normal;
}

.soc {
    display: flex;
    gap: 10%;
    width: 100%;
    margin-right: 10rem;
}

.foo-soc {
    width: fit-content;
    border-style: none;
    padding: 0;
}

.soc-img {
    width: 2.5rem;
}

.pat-con {
    width: 100%;
}

.pat {
    color: #ece8e8;
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0.7rem 0 0;
    font-weight: normal;
}

.pat-e {
    padding-left: 0.7rem;
}

.part-w {
    margin-bottom: 0.5rem;
}

.aa {
    border-style: none;
}

.copy {
    margin-top: 1.5rem;
    width: 100%;
}

.copyrt {
    color: #ece8e8;
    font-size: 0.8rem;
    margin: 0 0 0 40%;
    font-weight: normal;
}



/*----------- RESPONSIVENESS-----------*/

@media (min-width: 651px) and (max-width: 1100px) {
   
    nav {
        position: relative;
    }

    .logo-bx {
        margin-left: 1rem;
    }

    .menu-toggle {
        width: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .hd {
        font-size: 0.62rem;
    }

    .my-toggle-f {
        background-color: #e8f2f6;
        transition: 400ms;
    }

    .my-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid #e8f2f6;
        height: 2rem;
        margin-right: 1.25rem;
        width: 2rem;
    }

    .active1 {
        rotate: 45deg;
        transform: translate(3px, 3px);
        transition: rotate 500ms ease-in-out;
    }

    .active2 {
        rotate: -45deg;
        transform: translate(3px, -2px);
        transition: rotate 500ms ease-in-out;
    }
    
    .tog-btn {
        background-color: #e8f2f6;
        border-radius: 50px;
        height: 0.2rem;
        width: 80%;
    }

    .menu-bx {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 2rem;
        position: relative;
        width: 50%;
    }

    .menu-con {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    a {
        font-size: 0.8rem;
        border-style: none;
    }

    form {
        flex-direction: column;
        gap: 1.5rem;
        margin-left: 10%;
    }

    .form-src-loc {
        font-size: 0.8rem;
        margin-left: 12%;
    }

    .src-dir {
        font-size: 0.8rem;
    }

    label {
        font-size: 0.8rem;
    }

    .btn {
        width: fit-content;
        padding: 0.5rem 1rem;
    }

    .form-src-dt {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .samp-con {
        height: 25rem;
        width: 80%;
    }
    
    h3,
    .deg-no {
        font-size: 1.3rem;
    } 

    a,
    .ex,
    .fl-a,
    .info,
    .feat-a,
    .fl-inf,
    .time, 
    .des,
    .deta-des,
    .second-des,
    .deg-cond {
        font-size: 0.8rem;  
    }  
    
    .cr-img,
    .icon {
        width: 0.8rem;
    }

    .deg-img {
        width: 2rem;
    }

    .form-src-dt-war {
        height: 20rem;
        width: 70%;
    }
    
    .dt-war {
        height: 2rem;
    }
    
    .dt-war-b {
        font-size: 1.2rem;
    }
    
    .dt-war-h {
        font-size: 1.2rem;
    }
    
    .caution {
        width: 0.9rem;
    }
    
    .dt-war-p {
        font-size: 0.8rem;
    }
    
    .dt-time {
        font-size: 0.8rem;
    }

    .deg-fig-des,
    .deg-fig {
        font-size: 0.9rem;
    }

    .hr-1,
    .des-1 {
        margin-bottom: 1.5rem;
    }

    .des-2 {
        margin-top: 1.5rem;
    }

    .deg-fig {
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    .b-detail {
        height: 14rem;
    }
    
    .hour-frm {
        height: 14rem;       
    }

    .ftitl {
        font-size: 1.5rem;
    }

    .ffig-n {
        font-size: 2rem;
    }
    
    .ffig-a {
        font-size: 1.3rem;
    }

    .wm-ti {
        font-size: 1.2rem;
    }

    .ff-wm-b-a {
        font-size: 1.2rem;
    }
    
    .ff-wm-b-b {
        font-size: 0.7rem;
    }

    .ff-wm {
        height: 10rem;
        min-width: 14rem;
    }

    .wn-con {
        display: flex;
        gap: 1rem;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
    }

    .wn-con:hover > .scroll-btn3 {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 3rem;
        padding: 0 3%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 95%;
    }
    
    .ff-wn {
        min-width: 16rem;
        height: 15rem;
    }

    .ff-wn-b-a {
        font-size: 0.8rem;
    }
    
    .ff-wn-b-b {
        font-size: 0.6rem;
    }

    .em-count {
        font-size: 0.8rem;
    }

    .emoji,
    .emoji1,
    .emoji2 {
        width: 0.8rem;
    }

    .foo-co {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .foo-l {
        margin: 0;
        text-align: center;
        width: 70%;
    }
    
    .foo-bx {
        align-items: center;
        font-size: 0.8rem;
        width: 70%;
    }
    
    .soc {
        justify-content: center;
        gap: 15%;
        margin: 0 0 1rem;
        padding: 0;
        width: 70%;
    }
    
    .soc-img {
        width: 2rem;
    }
    
    .pat-con {
        text-align: center;
    }
    
    .pat {
        font-size: 0.8rem;
        margin: 0;
        padding: 0 0.7rem 0 0;
        text-align: center;
    }
    
    .pat-e {
        padding-left: 0rem;
    }
    
    .part-w {
        margin-bottom: 0.5rem;
    }
    
    .aa {
        border-style: none;
    }
    
    .copy {
        text-align: center;
    }
    
    .copyrt {
        font-size: 0.75rem;
        margin: 0;
    }
}





/*----------- RESPONSIVENESS MOBILE PHONE SCREEN-----------*/

@media (max-width: 650px) {
   
    nav {
        position: relative;
    }

    .logo-bx {
        margin-left: 1rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .hd {
        font-size: 0.4rem;
    }

    .my-toggle-f {
        background-color: #e8f2f6;
        transition: 400ms;
    }

    .my-toggle {
        background-color: black;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid #e8f2f6;
        height: 2rem;
        width: 2rem;
    }

    .active1 {
        rotate: 45deg;
        transform: translate(3px, 3px);
        transition: rotate 500ms ease-in-out;
    }

    .active2 {
        rotate: -45deg;
        transform: translate(3px, -2px);
        transition: rotate 500ms ease-in-out;
    }
    
    .tog-btn {
        background-color: #e8f2f6;
        border-radius: 50px;
        height: 0.2rem;
        width: 80%;
    }

    .menu-toggle {
        width: 80%;
    }

    .menu-bx {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 1rem;
        position: relative;
        width: 50%;
    }

    .s-n-a {
        text-align: center;
    }

    .menu-con {
        display: none;
    }

    .sub-nav {
        display: none;
    }

    a {
        font-size: 0.7rem;
        border-style: none;
    }

    form {
        flex-direction: column;
        gap: 1.5rem;
        margin-left: 12%;
    }

    .form-src-loc {
        font-size: 0.7rem;
        margin-left: 12%;
    }

    .src-dir {
        font-size: 0.7rem;
    }

    label {
        font-size: 0.7rem;
    }

    .btn {
        width: fit-content;
        padding: 0.3rem 0.7rem;
    }

    .form-src-dt {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .samp-con {
        height: 20rem;
        width: 80%;
    }

    .ex,
    .info,
    .fl-a,
    .fl-inf,
    .feat-a,
    .time, 
    .des,
    .deg-no,
    .deta-des,
    .second-des,
    .deg-cond {
        font-size: 0.6rem; 
    }
    
    .cr-img,
    .icon {
        width: 0.5rem;
    }

    .hour-img {
        margin-bottom: 1.5rem;
        width: 2rem;
    }

    .deg-img {
        width: 2rem;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        justify-content: start;
    }

    .first {
        height: 40%;
    }

    .second {
    width: 90%;
    }

    .form-src-dt-war {
        height: 20rem;
        width: 70%;
    }
    
    .dt-war {
        height: 2rem;
    }
    
    .dt-war-b {
        font-size: 1rem;
    }
    
    .dt-war-h {
        font-size: 1rem;
    }
    
    .caution {
        width: 0.8rem;
    }
    
    .dt-war-p {
        font-size: 0.7rem;
    }
    
    .dt-time {
        font-size: 0.7rem;
    }

    .deg-fig-des {
        font-size: 0.8rem; 
    }

    .hr-1,
    .des-1 {
        margin-bottom: 1rem;
    }

    .des-2 {
        margin-top: 1rem;
    }

    .deg-fig {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }

    .b-detail {
        height: 13rem;
        min-width: 20rem;
    }
    
    .hour-frm {
        height: 13rem;       
    }

    .ftitl {
        font-size: 1rem;
    }

    .ffig-n {
        font-size: 1.3rem;
    }
    
    .ffig-a {
        font-size: 0.9rem;
    }

    .wm-ti {
        font-size: 1rem;
    }

    .ff-wm-b-a {
        font-size: 1rem;
    }
    
    .ff-wm-b-b {
        font-size: 0.6rem;
    }

    .ff-wm {
        height: 9rem;
        min-width: 12rem;
    }
    .wn-con {
        display: flex;
        gap: 1rem;
        align-items: center;
        overflow-y: hidden;
        overflow-x: scroll;
        position: relative;
    }

    .wn-con:hover > .scroll-btn3 {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 3rem;
        padding: 0 3%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 95%;
    }
    
    .ff-wn {
        min-width: 13rem;
        height: 12rem;
    }

    .ff-wn-b-a {
        font-size: 0.7rem;
        margin: 0 5% 1rem;
    }
    
    .ff-wn-b-b {
        font-size: 0.5rem;
    }

    .em-count {
        font-size: 0.7rem;
    }

    .emoji,
    .emoji1,
    .emoji2 {
        width: 0.7rem;
    }

    .foo-co {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .foo-l {
        margin: 0;
        text-align: center;
        width: 70%;
    }
    
    .foo-bx {
        align-items: center;
        font-size: 0.7rem;
        width: 70%;
    }
    
    .soc {
        justify-content: center;
        gap: 10%;
        margin: 0 0 1rem;
        padding: 0;
        width: 70%;
    }
    
    .soc-img {
        width: 1.5rem;
    }
    
    .pat-con {
        text-align: center;
    }
    
    .pat {
        font-size: 0.7rem;
        margin: 0;
        padding: 0 0.7rem 0 0;
        text-align: center;
    }
    
    .pat-e {
        padding-left: 0rem;
    }
    
    .part-w {
        margin-bottom: 0.5rem;
    }
    
    .aa {
        border-style: none;
    }
    
    .copy {
        text-align: center;
    }
    
    .copyrt {
        font-size: 0.65rem;
        margin: 0;
    }
}