body {
    background-color: #d2e7f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body ::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #042e3c;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    margin-left: 2%;
}

h1 {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 3rem;
}


.hd {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 0.75rem;
}

.menu-bx {
    display: flex;
    margin: 0 2% 0 auto;
}

a {
    padding: 0 1.25rem;
    width: 100%;
    border-right: solid 1px;
    border-color: #e8f2f6;
    text-decoration: none;
    font-weight: medium;
    color: #e8f2f6;
}

.faq {
    border-style: none;
}

.menu {
    padding: 0.65rem 0;
}

.forecast {
    color: #ffd218;
}

.sva:hover {
    color: #ffd218;   
}

.story {
    border-style: none;
    background-color: #ffd218;
    color: #042e3c;
    border-radius: 5px;
}

.sub-nav {
    background-color: white;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-nav-c {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub-n-a {
    border-style: none;
    color: black;
    padding: 0;
}

.sub-n-a:hover {
    color: #28989e;
}

.s-n-a {
    text-align: right;
    color: #28989e;
}

form {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin: 1rem 0 2rem;
}

.src-dir {
    margin: 0;
    font-weight: bold;
}

.btn {
    background-color: #042e3c;
    color: #e8f2f6;
    border-style: none;
    padding: 0.2rem 20%;
    border-radius: 3px;
}

.btn:hover {
    background-color: #217a7e;
}

.form-src {
    width: 100%;
}

.form-src-loc {
    margin-left: 2%;
    font-weight: bold;
}

.form-src-dt {
    display: flex;
    gap: 2%;
    margin: 2%;
    width: 96%;
}

.samp-con {
    background-color: white;
    width: 58%;
    height: 20rem;
    display: flex;
    align-items: center;
}

.weth {
    background-image: url(image/storm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cntrl {
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.no1 {
    width: 100%;
    height: 20%;
    display: flex;
}

.des {
    font-weight: bold;
    color: #3feff8;
}

.time {
    margin-left: auto;
    color: #3feff8;
}

.no2 {
    display: flex;
    width: 100%;
    height: 80%;
}

.left {
    width: 60%;
}

.first {
    width: 100%;
    height: 50%;
}

.deta-des,
.second-des,
.deg-cond {
    padding: 0;
    margin: 0;
    color: #3feff8;
}

.deg {
    display: flex;
    gap: 5%;
    margin: 0 0 1rem;
}

.deg-img {
    width: 25%;
}

.deg-no {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    color: #3feff8;
}

.second {
    width: 90%;
}

.right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgt-cntrl {
    width: 80%;
}

.deta {
    display: flex;
    gap: 2%;
    margin-bottom: 0.7rem;
    width: 100%;
}

.form-src-dt-war {
    background-color: white;
    width: 40%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.dt-war {
    height: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.dt-war-b {
    color: #28989e;
    font-size: 150%;
    font-weight: bold;
    margin-left: 5%;
    width: 100%;
}

.dt-war-a {
    display: flex;
}

.dt-war-a-a {
    margin-left: 5%;
}

.dt-war-h {
    margin: 1rem 0 0;
    color: #3d3c3c;
}

.dt-war-p {
    margin: 0;
    font-size: 0.9rem;
    color: #3d3c3c;
}

.dt-time {
    margin: 1rem 5% 0 auto;
    color: #3d3c3c;
}

.details {
    width: 96%;
    margin-left: 2%;
    display: flex;
    gap: 1%;
}

.hour-frm {
    background-color: white;
    width: 9.5%;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.hour {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    color: #3d3c3c;
}

.hour-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}

.hour-img {
    width: 40%;
    margin-top: 5%;
}

.deg-fig {
    margin: 0;
    font-size: 145%;
    color: #3d3c3c;
}

.deg-fig-des {
    text-align: center;
    margin: auto 0 30%;
    width: 40%;
    font-size: 90%;
    color: #3d3c3c;
}

.b-detail {
    background-color: white;
    width: 26.5%;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px silver;
}

.b-d-t {
    color: #28989e;
    height: 20%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.b-d-d {
    display: flex;
    width: 100%;
    height: 80%;
}

.b-d-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.b-d-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.b-d-cntrl {
    width: 80%;
    margin: 0 0 0 auto;
}

.ctl {
    color: #3d3c3c;
}

.ffl-stat {
    background-color: #042e3c;
    margin: 3rem 0;
    padding: 2rem 0;
    width: 100%;
}

.ftitl {
    color: #e8f2f6;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ffl-st-con {
    display: flex;
    gap: 5%;
    margin: 1.5rem auto;
    width: 70%;
}

.fstat-fig {
    border-style: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8f2f6;
}

.ffig-n {
    font-size: 4rem;
    padding: 0;
    margin: 1rem 0;
}

.ffig-a {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.fimg-data {
    padding: 2rem 0 0;
    width: 100%;
}

.wm-ti {
    color: #3d3c3c;
    font-size: 2rem;
    margin: 0 0 0 2%;
    padding: 0;
}

.ffw-m {
    display: flex;
    gap: 1%;
    margin: 2rem auto 3rem;
    width: 96%;
    overflow-x: scroll; 
    overflow-y: hidden;
    padding: 0.5rem 0;
}

.ff-wm {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 10px -5px #3d3c3c;
    height: 15rem;
    min-width: 19rem;
}

.ff-wm-a {
    background-image: url(image/Floods-in-Jalingo-Taraba.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70%;
    width: 100%;
}

.ff-wm-b {
    background-color: #ffd218;
    height: 23%;
    width: 96%;
    padding: 0.5rem 2%;
}

.ff-wm-b-a {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 0 5%;
    padding: 0;
    color: #3d3c3c;
    width: 100%;
    border-style: none;
}

.ff-wm-b-b {
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0 0 0 5%;
    padding: 0;
}

.wn-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:22rem 22rem ;
    row-gap: 2rem;
    column-gap: 1%;
    margin: 2rem auto 10rem;
    width: 96%;
}

.ff-wn {
    width: 100%;
}

.ff-wn-a {
    background-image: url(image/nigeria_flood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63%;
    width: 100%;
}

.ff-wn-b {
    background-color: #042e3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28%;
    width: 96%;
    padding: 1rem 2%;
}

.ff-wn-b-a {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 5% 1rem;
    padding: 0;
    color: #e8f2f6;
    width: 90%;
    border-style: none;
    display: flex;
    align-items: center;
}

.ff-wn-b-b {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
    margin: 0 0 0 auto;
    padding: 0;
}

.ff-wn-em {
    margin: 0 5%;
    padding: 0;
    color: #e8f2f6;
    width: 90%;
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #042e3c;
    padding: 1rem 0 0.5rem;
}

.foo-co {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.foo-l {
    margin: 0;
    width: 25%;
}

.foo-bx {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 25%;
}

.foo-a {
    border-style: none;
    width: 100%;
}

.snd {
    font-weight: normal;
}

.soc {
    display: flex;
    gap: 5%;
    width: 60%;
    margin-right: 10rem;
}

.foo-soc {
    width: 30%;
    border-style: none;
}

.soc-img {
    width: 500%;
}

.pat-con {
    width: 100%;
}

.pat {
    color: #ece8e8;
    font-size: 0.8rem;
    margin: 0 0 0 1.5rem;
    padding: 0 0.7rem 0 0;
    font-weight: normal;
}

.pat-e {
    padding-left: 0.7rem;
}

.part-w {
    margin-bottom: 0.5rem;
}

.aa {
    border-style: none;
}

.copy {
    margin-top: 1.5rem;
    width: 100%;
}

.copyrt {
    color: #ece8e8;
    font-size: 0.8rem;
    margin: 0 0 0 40%;
    font-weight: normal;
}