.s-n-a {
    text-align: right;
    color: black;
}

.s-n-b {
    color: #28989e;
}

.ff-heda {
    background-color: #042e3c;
    color: #e8f2f6;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

.flood-data {
    padding: 2rem 0 4rem;
}

.form-src {
    padding: 0 0 1rem;
}

.form-src-loc {
    margin-bottom: 0.5rem;
}

.form-src-dt {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.form-src-dt-war {
    height: 19rem;
    padding: 0.5rem 2%;
}

.dt-war-h {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.caution {
    width: 1.3rem;
    margin-right: 0.5rem;
}

.dt-war-p {
    font-size: 1.2rem;
}

.dt-disc {
    font-size: small;
    margin-top: auto;
    width: 100%;
}

.dt-disc-cap {
    font-weight: bold;
}

.timely {
    margin: 0 0 0.5rem 2%;
    width: 98%;
}