body {
    position: relative;
}

.fb-body {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.feedback-con {
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px #042e3c;
    border-radius: 5px;
    padding: 0 0 1.5rem;
    position: fixed;
    left: 30%;
    top: 11rem;
    width: 40%;
}

.s-n-b {
    color: black;
}

.cancel-btn {
    background-color: transparent;
    border-style: none;
    color: #042e3c;
    font-size: 1rem;
    margin: 1.5rem 0 0 90%;
}

.fb-h {
    color: #042e3c;
    font-size: 2rem;
    margin: 0 0 1rem;
    text-align: center;
}

.ques-form {
    display: block;
    margin: auto;
    width: 70%;
}

.input-con {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

label {
    color: #042e3c;
}

.name-deatails {
    height: 1.5rem;
    border-radius: 3px;
    border-style: none;
    box-shadow: 0 0 3px 0.5px silver;
    padding: 0.2rem 2%;
}

.ques {
    color: #042e3c;
    margin-bottom: 0.2rem;
}

.chekb-con {
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
}

.yes {
    margin: 0 0.2rem 0 0;
}

.no {
    margin-left: auto;
}

.buton {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.cancel {
    background-color: transparent;
    font-weight: bold;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 0 1px 1.5px #042e3c;
    color: #042e3c;
    padding: 0.2rem 0.5rem;
}

.submit {
    background-color: #042e3c;
    font-weight: bold;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 0 1px 1.5px #042e3c;
    color: white;
    padding: 0.2rem 0.5rem;
}

.cancel:hover, .submit:hover {
    background-color: #0b80a7;
}

.ih-sub-nav {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sub-n-a {
    width: fit-content;
}

.flood-data {
    padding-bottom: 10rem;
}

form {
    justify-content: left;
    margin-left: 5%;
}

.form-src-loc {
    margin: 0 0 0.5rem 5%;
}

.msg-con {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 1rem 3% 2rem;
    width: 84%;
}

.msg-h,
.loc-con {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.date {
    margin-left: auto;
}

p, h3 {
    margin: 0;
    padding: 0;
}

.id {
    font-weight: bold;
    margin-bottom: 4px;
}

.eff {
    margin-left: auto;
}

.no-aff {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.stat-alat {
    margin-bottom: 0.5rem;
}