body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


nav {
    background-color: #042e3c;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    margin-left: 50px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 3rem;
}


.hd {
    margin: 0;
    padding: 0;
    color: #e8f2f6;
    font-size: 0.75rem;
}

.menu-bx {
    display: flex;
    margin: 0 3.125rem 0 auto;
}

.menu {
    padding: 0.65rem 0;
}

.menu:hover {
    background-color: #ffd218;
    border-radius: 5px;
}

.menu:hover > a {
    border-style: none;
}

a {
    padding: 0 1.25rem;
    width: 100%;
    border-right: solid 1px;
    border-color: #e8f2f6;
    text-decoration: none;
    font-weight: medium;
    color: #e8f2f6;
}

.story {
    border-style: none;
}

.fl-1 {
    height: 35rem;
    width: 100%;
    background-image: url(image/Floods-in-Jalingo-Taraba.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.fl-con {
    margin-left: 15%;
    width: 45%;
    padding: 2rem 4% 3rem;
    position: relative;
    background-color: rgba(3, 35, 44, 0.6);
}


h3 {
    font-size: 2rem;
    font-weight: medium;
    margin: 0 0 0.5rem 0;
    padding: 0;
    color: #e8f2f6;
}

.ex {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #e8f2f6;
}

.fl-a {
    color: #042e3c;
    padding: 0.65rem 1rem;
    border-style: none;
    background-color: #ffd218;
    border-radius: 5px;
}

.info-con {
    background-color: white;
    width: 100%;
    padding: 3rem 0;
}

.info {
    width: 70%;
    margin: 0 auto;
}